.App {
  text-align: center;
  padding: 50px;
}

.employee-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 4 sütunlu bir grid */
  gap: 20px;
  justify-content: center; /* İçerikleri merkezde tut */
}

.employee-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center; /* İçerikleri merkezde tut */
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 20px; /* Düğmeyi yukarı it */
}

button:hover img {
  transform: scale(1.1);
}

.employee-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-card.one-coffee {
  font-weight: bold;  /* Kalın font */
  color: green;       /* Yeşil renk */
}